
body { 
    background-color: #ADD9FC;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar {
    height: 75px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    border-radius: 1.5rem;
}

.nav-item{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-weight: 200;
    text-shadow: 0 0 0.2em #D7D9FC; 
}

h4 {
    font-size: small;
}

.card {
    margin: 0 auto;
    margin-top: 0%;
    text-align: center;
    width: 80%;
    height: 90%; 
    font-size: 14px;    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.card1{
    background: rgba(134, 128, 80, 0.719);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card1:hover,
.card1:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.cardImagem {
    width: 100%;
    height: 40%;
    border-radius: 2.5%;
}

.cardImagem2 {
    width: 100%;
    height: 40%;
    border-radius: 2.5%;
}

.cardTitle {
    font-size: 14px;
}
.cardText {
    font-size: 14px;
}

.containerCarousel{
    margin-top: 10px;
}

.carousel {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 50%;
    opacity: 60% black;
    background: rgba( 255, 232, 66, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.container1{

    width: 100%;
    height: 35%;
    
}
.carousel-inner {
    width: 100%;
    height: 100%;
}


.imagemSlide{
    width: 100%;
    height: 100%;
    border-radius: 1%;
}
.imagemSlide2{
    width: 100%;
    height: 100%;
    border-radius: 1%;
}
.imagemSlide3{
    width: 100%;
    height: 100%;
    border-radius: 1%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}




footer {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-weight: 100; 
}

.navbar-brand{
    margin-top: -15px;
    margin-left: 20px;
}

.nomeOrcamento{

    margin-top: -15px;
    color: rgb(58, 58, 58);
    text-align: center;
    text-shadow: black 0.6px 1px 0.4px;

}

.nomeGaleria {
    margin-top: -15px;
    color: rgb(54, 54, 54);
    text-align: center;
    text-shadow: black 0.6px 1px 0.4px;

}

input { 
    text-align: center;
	color: #633; 
	font-size: 10px; 
	padding: 3px;   
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
	}

select{
    margin-top: 10px;
    color: #633; 
	font-size: 10px; 
	padding: 3px; 
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}

.container{
    margin-top: -21px;
    width: 50%;
    height: 100%;
    background: rgba(134, 128, 80, 0.719);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.inputButton{
    width: 100px;
    height: 30px;
    font-size: 15px;
    box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19.5px );
    -webkit-backdrop-filter: blur( 19.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.img-responsive {
    width: 100%;
    height: 600px;
}
.container-fluid{
    width: 100%;
    height: 50%;
}
 
.col-Carousel{
    margin-left: 5.5%;
    max-width: 100%;
}
